body{
    background-color: #1a4019;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: left;
    color: rgb(203, 255, 209);
    padding-top: 20px
}
h2{
    color:white
}

h3{
    color: whitesmoke;
}  

h4{
    color: rgb(155, 255, 172)
}
h6{
    color: white
}
.card {
    background-color: rgba(191, 255, 201, 0.696);
}
p{
    color: white
}
a{
    color:rgba(191, 255, 201, 0.696)
}
a:hover {
    color: rgb(3, 33, 3)
}

figure {
  float: right;
  width: 40%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  width:auto;
}

.new {
  grid-area: new;
}
.adventure {
  grid-area: adventure;
  text-align: left;

}
.consumer {
  grid-area: consumer;
}
.footer {
  grid-area: subscribe;
}
.current{
    grid-area: current;
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: auto;
  grid-template-areas: 
    "new new new"
    "adventure adventure consumer"
    "subscribe subscribe subscribe ";
}
  
.container div {
  background-color: #377635;
  border: 1px solid black;
  font-size: 20px;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  justify-content: space-evenly;
}